#quero-aprender, #quero-ensinar {
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  background-color: rgba(240,173,78, 1);
  text-decoration: none;
  color: #333 !important;
}
#quero-aprender h2, #quero-ensinar h2{
  font-size: 3em;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  position: relative;
  z-index: 2;
}
#quero-aprender h2:after, #quero-ensinar h2:after{
  content: "";
  display: block;
  padding-top: 5px;
  margin: 0 auto;
  height: 1px;
  width: inherit;
  border-bottom: 4px solid #f0ad4e;
}
#quero-aprender img, #quero-ensinar img{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  width: auto;
  height: 100%;
  opacity: 0.4;
  transition: .5s;
}
#quero-aprender:hover > img, #quero-ensinar:hover > img {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari */
  transform: scale(1.1); /* Standard syntax */
  transition: .5s;
}
