<nav class="navbar navbar-inverse navbar-fixed-top" ng-if="location.path() != '/'">
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="MenuController"
    <div class="container">
        <div class="navbar-header">
            <a href="#home" class="navbar-brand">Monitori</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav navbar-right">
              <li><a href="#">Meu Painel</a></li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Igor Felipe <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Meu Perfil</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Sair</a></li>
                </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>
