<header class="col-md-12 header">
  <div class="container padding-top-menu">
    <h1 class="page-title">Meu Painel</h1>
  </div>
</header>
<section class="container">
  <div class="col-sm-12">
    <h2 class="page-subtitle">Solicitações de Monitorias</h2>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Igor Felipe de Jesus</h3>
        <p><strong>Disciplina:</strong> Fundamentos da Programação</p>
        <p><strong>Telefone:</strong> (21)98660-7924</p>
        <p><a href="#" class="btn btn-warning" role="button">Aceitar Monitoria</a> <a href="#" class="btn btn-danger" role="button">Recusar Monitoria</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Igor Felipe de Jesus</h3>
        <p><strong>Disciplina:</strong> Fundamentos da Programação</p>
        <p><strong>Telefone:</strong> (21)98660-7924</p>
        <p><a href="#" class="btn btn-warning" role="button">Aceitar Monitoria</a> <a href="#" class="btn btn-danger" role="button">Recusar Monitoria</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Igor Felipe de Jesus</h3>
        <p><strong>Disciplina:</strong> Fundamentos da Programação</p>
        <p><strong>Telefone:</strong> (21)98660-7924</p>
        <p><a href="#" class="btn btn-warning" role="button">Aceitar Monitoria</a> <a href="#" class="btn btn-danger" role="button">Recusar Monitoria</a></p>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="col-sm-12">
    <h2 class="page-subtitle">Meu Histórico</h2>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Igor Felipe de Jesus</h3>
        <p><strong>Disciplina:</strong> Fundamentos da Programação</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Igor Felipe de Jesus</h3>
        <p><strong>Disciplina:</strong> Fundamentos da Programação</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Igor Felipe de Jesus</h3>
        <p><strong>Disciplina:</strong> Fundamentos da Programação</p>
      </div>
    </div>
  </div>
</section>
